#Ignore all dot files
.DS_Store
.idea/
.idea.*/
*.iml
*.ipr
*.iws
**/target/
*~
node
node_modules
work
app.properties
npm-debug.log*
**/.settings/
**/.project
**/.classpath
**/.permission
.build_container
.watch_trigger
.vscode
.githubname
jsconfig.json
dev-runner/data/
dev-runner/jobs/
demo-runner/data/
demo-runner/jobs/
coverage
reports
demos/jira_backups/startupdatabase.xml
demos/jira_backups/mail
demos/jira_backups/attachments
**/hot-webapps/
restapi/server/src/main/webapp/admin-ui
load-tests/cacerts
load-tests/logs
load-tests/tmp
load-tests/license.xml
restapi/server/src/main/webapp/css
restapi/server/src/main/webapp/js
restapi/server/logs/restapi.json.log
**/bin
!/bin/
**/*.orig
Makefile.config
docker-compose-*.yaml
